[Unit]
Description=IP Setter service, for executing scripts when dynamic IP changes

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=<repo path>/ip_setter
ExecStart=/usr/bin/python3 <repo path>/main.py

[Install]
WantedBy=multi-user.target